@font-face
{
    font-family: fontAnidoption;
    src: url("../font/carrinady/Carrinady.ttf");
}


html, body
{
    margin: 0%;
    padding: 0%;
    height: 100%;
}

header
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    background-color: #69306d;
    border: 5px solid black;
}

.logo 
{
    grid-column: 1;
    grid-row: 1;

    color:white;
}

.espacement
{
    grid-column: 2;
    grid-row: 1;
}

.deconnexion
{
    grid-column: 3;
    grid-row: 1;
}

.logo img
{
    width: 100px;
    height: 100px; 
    
    float: left;

    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.logo h1
{
    display: table;

    margin-left:27%;
    padding: 0%;

    font-family: fontAnidoption;
    font-size: 400%;
}

.deconnexion button
{
    float: right;
    margin-right: 10%;
    margin-top: 6%;

    font-family: fontAnidoption;
    font-size: 190%;
    color: #0e103d;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  
    background-color: #f2d7ee;
   
}

main
{
    background-color: #d3bcc0;

    font-family: fontAnidoption;
    font-size: 200%;
    color: #0e103d;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}
.coteGauche
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.favoris
{
    grid-column: 1;
    grid-row: 1;

    background-color: white;
}

.parametres
{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
}

.parametres img
{
    width: 25%;
    height: auto;

    grid-column: 1;
    grid-row: 1;

    margin-top: 75%;
    margin-left: 25%;
}

.parametres h3
{
    grid-column: 2;
    grid-row: 1;

    margin-right: 10%;
}

.contenu
{
    grid-column: 3 /span 2;
    grid-row: 1; 
}

.ficheAnimal
{
    background-color: white;
    margin-top: 15%;
    margin-bottom: 15%;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 5%;

    border: 10px solid #69306d;
}

.affichage img
{
    width: 100%;
    height: auto;

    border: 5px solid #69306d;
    border-radius: 3%;
}

.info
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    font-size: 175%;
    margin-bottom: 5%;
}

.nom
{
    grid-column: 1;
    grid-row: 1; 
    
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 2%;

    font-weight: bold;
}

.age
{
    grid-column: 2;
    grid-row: 1; 
    
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: right;
    margin-right: 2%;
}

h2
{
    margin: 0%;
    text-align: center;
    font-size: 250%;
}

form button
{
    margin-top: 25%;
    margin-left: 30.6%;
    margin-bottom: 30%;
    
    color: white;
    font-family: fontAnidoption;
    font-size: 150%;
    background-color: #69306d;

    padding: 2%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.boutonsChoix
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.like
{
    grid-column: 1;
    grid-row: 1;
    text-align: right; 
    margin-right: 25%;
}

.like input
{
    width: 50%;
    height: auto;

    margin-bottom: 0%;

}

.nope
{
    grid-column: 2;
    grid-row: 1; 
    text-align: left;
    margin-left: 25%;
}

.nope input
{
    width: 50%;
    height: auto;

    margin-bottom:0%;
}
footer
{
    background-color: #69306d;
    border: 5px solid black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.copyright
{
    grid-column: 1;
    grid-row: 1;
}

.copyright img 
{
    width: 25px;
    height: 25px;

    float: left;
    margin-top: 3%;
    margin-left: 1%;
}

.copyright p
{
    display: table;
    margin-top: 3%;
    margin-left: 5%;
    padding: 0%;

    font-family: fontAnidoption;
    font-size: 150%;
    color: white;
}

#iconFooter
{
    grid-column: 2;
    grid-row: 1;

    width: 50px;
    height: 50px;
    
    padding-top: 2%;
    padding-left: 92%;
}


